:root {
    --gray: #A6ACAF;
    --white: #FFFFFF;
    --highlight: #7289da;
    --darkgray: #2c2f33;
    --meddarkgray: #33363b;
    --mediumgray: #43464f;
    --lightmediumgray: #595c64;
    --black: #2d2d2d;
}
